spring:
  application:
    name: EventClean
    baseline-on-migrate=true:

  datasource:
    url: jdbc:postgresql://localhost:5431/EventClean
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true